@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.calculator {
    padding: 15px;
    border-radius: 1em;
    height: 500px;
    width: 350px;
    margin: auto;
    background-color: #c2c9e2;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.display-box {
    font-family: 'Orbitron', sans-serif;
    background-color: #dcdbe1;
    border: solid black 0.5px;
    color: black;
    border-radius: 5px;
    width: 98%;
    height: 65%;
}

.button {
    font-family: 'Orbitron', sans-serif;
    background-color: #1809a0;
    color: white;
    border: solid black 0.5px;
    width: 80%;
    border-radius: 3px;
    height: 50%;
    outline: none;
}

.button:active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}